ion-list-header {
    font-family: rubik-medium;
    font-size: 18px;
}

ion-item {
    font-family: rubik-bold;
    font-size: 16px;
    padding: 0px;
    margin: 0;
}

ion-icon {
    font-size: 24px;
}