<ion-content scrollY="false" color="elmo-white">

  <!-- ELMO CONTAINER AND TITLE -->
  <div class="container">
    <div id="logoApp" class="flex-center">
      <img id="elmoIcon" src="../../assets/icon/elmoIcon-1024.png" alt="">  <!-- icon-->
      <p color="elmo-black">ELMO</p>  <!-- title-->
    </div>
    
    <!-- WELCOME CONTAINER -->
    <div id="welcomeContainer">

      <h2 class="rubik-bold">Welcome</h2>
      <p class="rubik-regular">Log in or create an account for free to start controlling your expenses in a totally efficient way</p>

      <!-- LOGIN AND REGISTER BUTTONS -->
      <div id="buttons">
        <!-- LOGIN BUTTON -->
        <ion-button id="loginButton"  shape="round" color="elmo-white" mode="ios" (click)="goLoginPage()">Login</ion-button>
        <!-- REGISTER BUTTON -->
        <ion-button id="registerButton"  shape="round" color="elmo-black" mode="ios" (click)="goRegisterPage()">Register</ion-button>
      </div>
    </div>
  </div>
  
</ion-content>
